@model _23dh110529_Mystore.Models.ViewModel.HomeProductVM
@{
    <link type="text/css" href="~/Content/MyStyle/CustomerHome.css" rel="stylesheet" />
}
@if (Model.FeaturedProducts != null && Model.FeaturedProducts.Any())
{
     <section  class="@*container-fluid*@ feature-Prod" >
        <h2> Spham  nổi bật  </h2>
         <div class="feature-container">
             @foreach (var product in Model.FeaturedProducts)
             {
                    <div class="fproduct-item">
                            <div>
                                    <a href="@Url.Action("ProductDetail","Home",new {id=product.ProductID} ) ">
                                        <img src="@Html.DisplayFor(modelItem => product.ProductImage)">
                                    </a>                                  
                             </div>

                                   <div>
                                        <p class="prodPrice"> @product.ProductPrice</p>
                                           <p class="prodName"> @product.ProductName </p>
                                            @*<p class="prodCate"> @Html.DisplayFor(modelItem => product.Category.CategoryName) </p>*@
                                                <p class="prodSale">
                                                    Đã bán: &nbsp;
                                                     @Html.DisplayFor(modelItem => product.OrderDetails.Count)
                                                 </p>
                                     </div>
                    </div>
                 }
         </div>
       
            
    </section>
}